.jobs {
  background: #eee;
}

.job-list {
  text-align: justify;
}

.job-item {
  text-align: center;
  padding: 1.5%;
  overflow: hidden;
  min-height: 200px;
  @include box-sizing(border-box);
  display: inline-table;
  vertical-align: top;
  
  @media (max-width: 320px) {
    min-height: 120px;
  }
  
  a {
    display: table-cell;
    vertical-align: middle;
    color: #333;
    opacity: .8;
    border: none;
    background: white;
    padding: 1em;
    @include box-sizing(border-box);

    &:hover {
      opacity: 1;
    }
  }
}

.job-item, .job-placeholder {
  width: 33%;

  @media (max-width: 600px) {
    width: 49%;
  }
  @media (max-width: 320px) {
    width: 100%;
  }
}

.job-title {
  margin: 0;
}

.job-location {
  font-style: italic;
  margin: 0;
}

.job-description {
  max-width: 90%;
  width: 640px;
  padding: 1em 0;
  margin: 1em auto 2em;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;

  p {
    padding-top: 1.5em;
    margin: 0;
  }  

  ul:last-child {
    padding-bottom: 2em;
  }

  ul {
    list-style: disc;
    margin-left: 1.5em;
  }

  li {
    padding-left: .5em;
    line-height: 1.5em
  }
}

.apply-btn {
  @extend .btn;
  min-width: auto;
  float: right;
  margin: 3px;
}
