.home header {
  background: rgba(0,0,0,0.35); 

  &.fixed {
    background: rgba(0,0,0,0.65);
  }
}

.recent-happenings {
  @extend %clearfix;
}

.news-overview article {
  float: left;
  width: 50%;

  p {
    font-size: 1em;
  }

  @media (max-width: 600px) {
    float: none;
    width: auto;
    margin: 2em 0;
  }

  img {
    max-width: 50%;
    float: right;
    margin-left: 1em;

    @media (max-width: 320px) {
      float: none;
      max-width: 100%;
      margin-left: 0;
    }
  }
}

.data-quality {
  padding: 0;
  background-color: #faf9ce;

  .wrapper {
    padding-top: 4em;
    padding-bottom: 4em;
    background-image: url(../img/data-quality.png);
    background-repeat: no-repeat;
    background-position: left center;    

    @media (max-width: 600px) {
      background-image: none;
    }
  }

  .image-left {
    padding-top: 1em;
    padding-bottom: 2em;
  }

  ul {
    list-style: disc;
    margin: 1em 0 2em;
    padding-left: 1.25em;
  }
}

.build-on-fulcrum {
  background-image: url(../img/world_map.png);
}

.slide-item {
  height: 420px;
  display: table;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  .table-cell {
    display: table-cell;
    vertical-align: middle;
  }
}

.fulcrum-intro {
  background-color: #f5f5f5;
}

.cta {
  padding: 1em 0;
  text-align: center;

  .cta-text {
    padding: .22em 0;
    @include inline-block(middle);
  }

  .cta-text, .btn-primary {
    margin: 1em;
  }
}

.fulcrum-intro {
  @extend %clearfix;
}

.product-intro {
  margin: 2em 2.5%;
  float: left;
  width: 28%;

  &:first-of-type {
    margin-left: 0;
    margin-right: 5%;
  }

  &:last-of-type {
    margin-right: 0;
    margin-left: 5%;
  }

  @media (max-width: 600px) {
    width: 100%;
    display: block;

    &:first-of-type, &:last-of-type {
      margin-right: 0px;
      margin-left: 0px;
    }
  }

  .product-title {
    font-size: 1em;
    margin: 0;
    letter-spacing: 0;
  }

  p {
    font-size: 1em;
    margin: .75em 0;
    line-height: 1.375em;
  }

  .learn-more {
    color: #aaa;
    font-size: .85em;

    &:hover {
      color: $color-secondary;
    }
  }
}
