$leader-image-width: 30%;

.our-team {
  text-align: center;
}

.leader {
  @extend %clearfix;
  padding: 2em 0;
  border-bottom: 1px solid #eee;

  &:last-child {
    border-bottom: none;
  }

  img {
    float: left; 
    padding-right: 5%;
    padding-bottom: 5%;
    width: $leader-image-width;

    @media (max-width: 480px) {
      width: 40%;
    }

    @media (max-width: 280px) {
      display: block;
      float: none;
      width: auto;
    }    
  }
}

.leader-description {
  padding-left: $leader-image-width + 5%;

  @media (max-width: 600px) {
    padding-left: 0;
  }
}


.people {
  margin: 4em 0;
  text-align: justify;
}

.person-position {
  font-style: italic;
}

.person-position,
.person-name {
  margin: 0;
}

.person-name {
  font-size: 1.125em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;

  @media (max-width: 960px) {
    font-size: 1em;
  }
  @media (max-width: 480px) {
    font-size: .85em;
  }  
  @media (max-width: 600px) {
    letter-spacing: 0px;
  }  
}

.person-text {
  @include transition(opacity 150ms ease-in-out);

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255,255,255,0.9);
  opacity: 0;
  text-align: center;
}

.person {
  position: relative;
  width: 18%;
  margin-bottom: 2%;
  @include inline-block;
  cursor: pointer;

  p {
    line-height: 1.4em;
  }

  img {
    display: block;
  }

  &:hover {
    .person-text {
      opacity: 1;
    }
  }

  .interesting-facts {
    display: none;
  }

  .table-container {
    display: table;
    width: 100%;
    height: 100%;
  }

  .person-name {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
  }

  @media (max-width: 768px) {
    width: 22%;
    margin-bottom: 3%;
  }

  @media (max-width: 600px) {
    width: 30%;
    margin-bottom: 4%;
  }
}

.person-name span {
  display: block;
  line-height: 1.5em;
}

.modal {
  .person-text {
    position: static;
    opacity: 1;
    background: transparent;
    text-align: left;
  }
  .person-name span {
    font-size: 1.25em;
    display: inline;
    margin-right: .33em;
  }
}

.director-name,
.director-title,
.director-company {
  display: block;
  margin: 0;
  line-height: 1.5em;
}