$smokey-green: lighten(#e2f2db, 5%); //#efeaed;

.tabs {
  background: $smokey-green;
  padding: 2em 0;
}

.fulcrum-components {
  background: lighten($smokey-green, 2.5%);
  border-top: none;
}

.tabs {
  text-align: center;

  span, a {
    display: block;
  }

  img {
    opacity: .75;
    @include grayscale;
    @include transition(all 200ms ease-in-out);
  } 

  span {
    margin: 0.5em 0;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  li {
    max-width: 200px;
    width: 32%;
    padding: 0 1em;
    @include box-sizing(border-box);
    @include inline-block(top);

    &.active, &:hover {
      a {
        color: $color-primary;
      }

      img {
        opacity: 1;
        @include no-grayscale;
      }
    }
  }

  a {
    color: #888;
    border: none;
  }
}

.tab-pane {
  opacity: 0;
  height: 0;
  overflow: hidden;
  @include transition(all 500ms ease-in-out);

  &.active {
    opacity: 1;
    height: auto;
  }
}

.fulcrum-component {
  h3 {
    margin-top: 0;
  }

  @extend %clearfix;
}

.component-details {
  max-width: 60%;
  @extend .left;

  @media (max-width: 600px) {
    padding-right: 0;
    max-width: 100%;
  }
}

.benefits {
  @include box-sizing(border-box);
  margin-bottom: 2em;
  padding: 1em;
  background: #eee;
  @include border-radius(3px);

  ul {
    margin-bottom: 2em;
  }

  li {
    margin: 1em 1.45%;
    @include inline-block(top);
    width: 30%;
  }
}

#sample-exchange .benefits li {
  width: 100%;
  margin: .5em 0;
}

.benefit-title {
  font-weight: 600;
  text-transform: none;
  text-align: center;
}

.benefit-description {
  font-style: italic;
  margin-bottom: 0;
}