<footer>
  <div class="wrapper">
    <i class="icon-federated"></i> 
    <span class="copyright">&copy; 2012 Federated Sample, LLC. All rights reserved.</span>
    <div class="newsletter-form">
      <form action="http://seanlocke.createsend.com/t/r/s/hhihtk/" method="post" id="subForm">
        <div>
          <label>Subscribe to our newsletter</label>
          <input type="text" name="cm-hhihtk-hhihtk" id="hhihtk-hhihtk" placeholder="Enter your email address" />
          <input type="submit" value="Send" />
        </div>
      </form>
    </div>
  </div>
</footer>