<header>
  <div class="wrapper">
    <a href="#" class="toggle-sidebar"><span>Menu</span>☰</a>
    <a href="/" title="Home" class="brand"><i class="icon-federated"></i> Federated Sample</a>
    <ul class="nav sidebar">
      <a class="toggle-sidebar">×</a>
      <li><a href="/fulcrum">What's Fulcrum</a></li>
      <li><a href="/fulcrum/why#suppliers">For Sample Suppliers</a></li>
      <li><a href="/fulcrum/why#buyers">For Sample Buyers</a></li>
      <li><a href="/solutions">Solutions</a></li>
      <li><a href="/demo">Demo</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="/about">Company</a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
          <li><a href="/about">About Federated</a></li>
          <li><a href="/careers">Careers</a></li>
          <li><a href="{{ site.blog_url }}" target="_blank">Blog</a></li>
          <li><a href="/press">Press Center</a></li>
          <li><a href="/contact">Contact Us</a></li>
          <li class="social-links">
            <a href="{{site.twitter_url}}" class="icon-twitter" alt="@FedSample on Twitter" target="_blank"></a>
            <a href="{{site.facebook_url}}" class="icon-facebook" alt="Federated Sample on Facebook" target="_blank"></a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</header>