---
layout: default
body_class: about
---
<section class="intro">
  <hgroup>
    <h1>Unmatched experience in online sampling</h1>
  </hgroup>
</section>
<!-- 
<section>
  <div class="wrapper centered">
    <h2>Our Mission</h2>
    <p>
      It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
    </p>
  </div>
</section>
 -->
<section>
  <div class="wrapper">
    <h2>Our Leadership</h2>
    <ul class="leaders-list">
      {% for employee in site.categories.leader reversed %}
        <li class="{% for cat in employee.categories %} {{ cat }}{% endfor %}">
          <img src="../img/staff/{% strip %}{{ employee.name }}{% endstrip %}.jpg"/>
          <div class="leader-description">
            <p class="person-name">{{ employee.name }}</p>
            <p class="person-position">
              {{ employee.position }}
              {% if employee.subtitle %} <br/> {{ employee.subtitle }} {% endif %}
            </p>
            {{ employee.content }}
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>
<!--  
<section>
  <div class="wrapper">
    <h2>Board of Directors</h2>

    <ul class="directors-list">
      {% for director in site.categories.board reversed %}
        <li class="director">
          <img src="../img/board/{% strip %}{{ director.name }}{% endstrip %}.jpg"/>
          <div class="director-text">
            <h5 class="director-name">{{ director.name }}</h5>
            <span class="director-title">{{ director.position }}</span>
            <span class="director-company">{{ director.company }}</span>
          </div>
        </li>
      {% endfor %}
    </ul>    
  </div>
</section>
 -->
<section class="our-team">
  <div class="wrapper">
    <h2>Our Team</h2>
    <p class="centered">
      Meet the passionate, hard-working, fun-loving individuals who form our tight-knit group. Looking for a chance to join a great team?  
    </p>
    <a href="/careers" class="btn">View Career Opportunities</a>

    <ul class="people">
      {% for employee in site.categories.all reversed %}
        {% assign names = employee.name | split:&nsp; %}
        <li class="person{% for cat in employee.categories %} {{ cat }}{% endfor %}">
          <img src="../img/staff/{% strip %}{{ employee.name }}{% endstrip %}.jpg"/>
          <div class="person-text">
            <div class="table-container">
              <span class="person-name">{% for name in names %}<span>{{ name }}</span>{% endfor %}</span>
            </div>
          </div>
          <div class="interesting-facts">
            {{ employee.content }}
          </div>
        </li>
      {% endfor %}
      {% for i in (1..3) %}
        <li class="person"></li>
      {% endfor %}
    </ul>
  </div>
</section>

