%btn {
  @include inline-block;
  @include border-radius(4px);
  color: white;
  text-align: center;
  //text-transform: uppercase;
  padding: 1em 2em;
  min-width: 80px;
  font-size: .9em;
  line-height: 100%;
  //font-weight: 600;
  //letter-spacing: 1px;
  border: none;
  @include hardware-acceleration;
  @include transition(all 150ms ease-in-out);

  @media (max-width: 480px) {
    margin: .5em;
  }
}

.btn {
  @extend %btn;
  background: lightgray;//$color-secondary;

  &:active, &:hover {
    color: white;
    background: lighten($color-secondary, 2%);
  }
}

.btn-primary {
  @extend %btn;
  background: $color-primary;

  &:hover {
    @include box-shadow(0 2px 2px rgba(0,0,0,0.3));    
  }

  &:active {
    @include box-shadow(inset 0 2px 2px rgba(0,0,0,0.3));    
  }

  &:active, &:hover {
    color: white;
    background: lighten($color-primary, 2%);
  }
}