 %dark {

  .intro h1 {
    color: #333;
  }

  header {
    background: transparent;
    @include box-shadow(none);
  }

  header, .nav {
    //.brand, .toggle-sidebar, .nav > li > a {
    a {
      color: #333;
      opacity: .75;

      &:hover {
        opacity: 1;
      }
    }

    .dropdown-menu a {
      color: #fff;
    }
  }

  .fixed {
    a {
      color: #fff;
    }
  }

  @media (max-width: $sidebarBreakpoint) {
    &.show-sidebar {
      .nav a {
        color: #ccc;

        &:hover {
          color: #fff;
        }
      }
    }
  }
}

%header-link {
  @include transition(all 100ms ease-in-out);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: .9375em;
  border-bottom: none;
  color: #fff;
  //color: $lightgray;

  &:hover {
    opacity: .8;
    background-color: transparent;
  }  
}

.dark {
  @extend %dark;
}

header {
  @extend %clearfix;
  min-height: $headerHeight;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  @include transition(all 150ms ease-in-out);

  &.fixed {
    background: #333;
    background-color: $headerColor;    
    @include box-shadow((0 0 6px rgba(0,0,0,.3), inset 0 6px 6px -6px rgba(0,0,0,.5)));
  }

  @media (max-width: $sidebarBreakpoint) {
    //position: relative;
    //background-color: #222;
    position: absolute;
    background: transparent;
    @include box-shadow(none);
  }

  .wrapper {
    padding: 0;
    width: $sidebarBreakpoint;
    //width: 100%;
    //padding: 0 1em;
    //font-size: .85em;

    @media (max-width: $sidebarBreakpoint) {
      padding: 0 1em;
      @include box-sizing(border-box);
    }
  }

  .nav {
    float: right;
  }
}

header a, .nav a, .dropdown-menu a {
  @extend %header-link;
}

.social-links {
  margin: 1em 0 0;

  [class^='icon'] {
    @include inline-block;
    padding: .5em;

    &:last-child {
      padding-right: 20px;
    }
  }
}

.brand {
  font-family: "Stag", serif;
  font-weight: 300;
  text-transform: capitalize;
  line-height: $headerHeight;
  height: $headerHeight;
  letter-spacing: 0px;
  //padding-right: 60px;
  @include inline-block;
  //background-image: url(../img/logo-mark.png);
  //background-repeat: no-repeat;
  //background-position: right center;

  [class^='icon-'] {
    font-size: 2.5em;
    vertical-align: middle;
    @include inline-block;
    margin-bottom: .15em;
  }
}

.nav > .brand, .nav > li, header > a {
  @include inline-block(middle);
}

.toggle-sidebar {
  display: none;
  padding: 0px 14px;
  line-height: 60px;
  cursor: pointer;
  text-transform: uppercase;
  
  span {
    margin-right: 10px;
  }

  @media (max-width: 360px) {
    span { display: none; }
  }

  @media (max-width: $sidebarBreakpoint) {
    cursor: pointer;
    display: block;
    position: absolute;
    top: 0;
    right: 0;    
  }
}

.nav > li > a {
  display: block;
  padding: 0 20px;
  line-height: $headerHeight;
}

@media (max-width: $sidebarBreakpoint) {
  $lightgray: #aaa;
  $sidebar-width: 260px;

  .show-sidebar {
    overflow: hidden;
    width: 100%;

    .container {
      margin-left: -$sidebar-width;
    }

    .dropdown-menu {
      opacity: 1;
      max-height: 300px;
    }

    .sidebar {
      opacity: 1;
      -webkit-overflow-scrolling: touch;
      pointer-events: auto;
      @include transition(opacity 150ms ease-in-out);
    }
  }

  .sidebar {
    z-index: 0;
    opacity: 0;
//    text-align: left;
//    display: block;
    position: absolute; // fallback if fixed pos not supported?
    position: fixed;
    pointer-events: none;
    background: #111;
    overflow: auto;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: $sidebar-width;
    padding: 1em 3em 1em 2em;
    @include box-sizing(border-box);
    @include transition(opacity 1s ease-in-out);
    @include transform(translateZ(0));

    li {
      display: block;
    }

    a {
      color: #aaa;

      &:hover {
        opacity: 1;
        color: #fff;
      }
    }

    li > a {
      padding: 0;
      line-height: 32px;
    }    

    .toggle-sidebar {
      font-size: 1.5em;
    }

    .dropdown-toggle {
      display: none;
    }

    .dropdown:hover, .open {
      background: transparent;
    }

    .dropdown-menu {
      position: static;
      display: block;
      padding: 0;
      padding-top: 2em;
      background: transparent;
      float: none;
      border: none;
      pointer-events: auto;
      text-align: left;
      @include box-shadow(none);

      li > a {
        white-space: normal;
      }
    }
  } 
}