.home .intro {
  background: $color-primary;
  color: #fff;
  padding: 0;
}

.about, .careers {
  .intro {
    background-image: url(../img/bg-careers.jpg);
  }
}

.why, .solutions, [class^=press], .contact, .fulcrum {
  .intro {
    padding: 8em 0 4em;
  }
}